# Check missing values in a Pandas DataFrame

`pandas` has two functions to test for missing values: `isnull()` and `notnull()`

## Check missing values in a pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,2,3,np.nan])

In [3]:
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [4]:
s.isnull()

0    False
1    False
2    False
3     True
dtype: bool

## Count missing values in a pandas Series

In [5]:
s.isnull().sum()

1

## Check missing values in a pandas DataFrame

In [8]:
df = pd.DataFrame({
    'x': [1,2,4,np.nan, np.nan],
    'y': list('abcd') + [np.nan]
})
df

     x    y
0  1.0    a
1  2.0    b
2  4.0    c
3  NaN    d
4  NaN  NaN

In [9]:
df.isnull()

       x      y
0  False  False
1  False  False
2  False  False
3   True  False
4   True   True

## Count missing values in a pandas DataFrame

In [10]:
df.isnull().sum()

x    2
y    1
dtype: int64